/* Define the "system" font family */

@font-face {
    font-family: 'cf_civilisation_mayaregular';
    src: url('fonts/cfcivilisationmaya-regular-webfont.eot');
    src: url('fonts/cfcivilisationmaya-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/cfcivilisationmaya-regular-webfont.woff2') format('woff2'), url('fonts/cfcivilisationmaya-regular-webfont.woff') format('woff'), url('fonts/cfcivilisationmaya-regular-webfont.ttf') format('truetype'), url('fonts/cfcivilisationmaya-regular-webfont.svg#cf_civilisation_mayaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Now, let's apply it on an element */

body {
    font-family: "system";
    /* background: linear-gradient(167deg, rgba(157, 60, 14, 1) 0%, rgba(121, 114, 9, 1) 29%, rgba(0, 212, 255, 1) 100%); */
    background-repeat: no-repeat center center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,0));
    height: 100vh;
}

div {
    /* border: 1px solid black; */
}

h1 {
    font-size: 3rem;
    text-align: center;
    letter-spacing: .1rem;
    color: #333;
    opacity: .7;
    font-family: "cf_civilisation_mayaregular";
    font-weight: 100;
    text-shadow: 0px 1px 1px #fff;
    margin-bottom: 0;
}

p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    letter-spacing: .02rem;
    color: #222;
    opacity: .8;
    padding: 0 40px;
    text-shadow: 0px 1px 1px #ddd;
}

#container {
    position: relative;
    top: 50px;
    width: 100vw;
}

#gamebox {
    position: relative;
    margin: 0 auto;
    max-width: 420px;
    /* padding: 0 30px; */
    background-color: rgb(228, 214, 196);
    border-radius: 2rem;
    background-image: url(/assets/images/black-wall.png);
}

header {
    padding-top: 10px;
}

article {
    padding-bottom: 20px;
}

#numbers {
    display: flex;
    justify-content: stretch height: 200px;
    /* border: 1px solid black; */
}

#match_number_box {
    background-color: rgb(217, 240, 240);
    height: 200px;
    width: 200px;
    text-align: center;
}

#user_number_box {
    background-color: rgb(242, 238, 233);
    height: 200px;
    width: 200px;
    text-align: center;
}

h2 {
    /* font-family: cf_civilisation_mayaregular, Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 6.5rem;
    text-align: center;
    margin-top: 30px;
    font-weight: 100;
    font-family: cf_civilisation_mayaregular;
    color: maroon;
}

#match_number_label {
    /* float: left; */
    background-color: rgb(230, 204, 189);
    padding: 5px;
    color: #fff;
}

#user_number_label {
    /* float: right; */
    background-color: rgb(191, 191, 227);
    padding: 5px;
    color: #fff;
}

#icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: white;
}

.iconbox {}

.icon {
    width: 85px;
    /* height: 95px; */
}

#scorebox {
    height: 50px;
    background-color: rgb(212, 225, 225);
}

#winbox {
    float: left;
    width: 30%;
    height: 50px;
    background-color: rgb(234, 244, 186);
}

#losebox {
    float: left;
    width: 30%;
    height: 50px;
    background-color: rgb(249, 217, 208);
}

#messagebox {
    float: left;
    width: 40%;
    background-color: rgb(239, 217, 250);
    height: 50px;
}

.bottombox {
    text-align: center;
    box-sizing: border-box;
}

.btext {
    color: maroon;
}

h3 {
    font-size: 1rem;
    color: lightslategray;
}