/* Define the "system" font family */

@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Now, let's apply it on an element */

body {
    font-family: "system";
}

div {
    /* border: 1px solid black; */
}

h1 {
    /* font-family: cf_civilisation_mayaregular, Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 2.9rem;
    text-align: center;
    letter-spacing: .2rem;
}

#container {
    position: relative;
    top: 50px;
    width: 100vw;
}

#gamebox {
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    padding: 0 30px;
    background-color: aliceblue;
}

header {
    padding-top: 10px;
}

article {
    padding-bottom: 20px;
}

#numbers {
    display: flex;
    justify-content: stretch height: 200px;
    /* border: 1px solid black; */
}

#number_match {
    background-color: rgb(217, 240, 240);
    height: 200px;
    width: 200px;
    text-align: center;
}

#number_play {
    background-color: rgb(242, 238, 233);
    height: 200px;
    width: 200px;
    text-align: center;
}

h2 {
    /* font-family: cf_civilisation_mayaregular, Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 6rem;
    text-align: center;
    margin-top: 30px;
    font-weight: 100;
}

#matchlabel {
    /* float: left; */
    background-color: rgb(230, 204, 189);
    padding: 5px;
    color: #fff;
}

#yourlabel {
    /* float: right; */
    background-color: rgb(191, 191, 227);
    padding: 5px;
    color: #fff;
}

#icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: white;
}

.iconbox {}

.icon {
    width: 85px;
    /* height: 95px; */
}

#scorebox {
    height: 50px;
    background-color: rgb(212, 225, 225);
}

#winbox {
    float: left;
    width: 33.333%;
    height: 50px;
    background-color: rgb(234, 244, 186);
}

#losebox {
    float: left;
    width: 33.333%;
    height: 50px;
    background-color: rgb(249, 217, 208);
}

#messagebox {
    float: left;
    width: 33.333%;
    background-color: rgb(239, 217, 250);
    height: 50px;
}

.bottombox {
    text-align: center;
    box-sizing: border-box;
}

.btext {
    color: maroon;
}

h3 {
    font-size: 1rem;
    color: lightslategray;
}